.flex-wrp {
  display: flex;
  flex-direction:row;
  padding:20px 20px 0px 20px;
  button {
    color:white;
    background-color:#b4321f;
    width:45%;
    font-size: 26rpx;
  }
  &.statistics {
    padding:16px;
    border-top: 1rpx solid #eee;
    border-bottom: 1rpx solid #eee;
  }
  .cover {
    width: 150rpx;
    height: 225rpx;
    margin-right: 20rpx;
  }
  .flex-item {
    display: block;
    .title,
    .sub-title {
      display: block;
      margin-bottom: 15rpx;
    }
    .title {
      font-size: 32rpx;
    }
    .sub-title {
      font-size: 22rpx;
      color: #c0c0c0;
    }
  }
  .text-center {
    text-align: center;
    font-size: 28rpx;
    width:33.3%;
    text {
      display: block;
    }
    span {
      font-size: 30rpx;
      margin-bottom:20rpx;
      display:block;
    }
  }
}
.operating-buttons {
  padding:10px 15px;
}
.tag {
  padding:20px;
  font-size:24rpx;
  .tag-item {
    padding:8rpx;
    border-radius:9rpx;
    margin:0 20rpx 20rpx 0;
    display:inline-block;
    color:white;
  }
}
.intro {
  font-size:28rpx;
  padding:0 20px;
  line-height:40rpx;
}
